@model IEnumerable<LaCasaRural.Models.Llogater>

@{
    ViewBag.Title = "Index";
}

<h2>Llogaters</h2>

<p>
    @Html.ActionLink("Crear Llogater", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomLlogater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CognomLlogater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomLlogater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CognomLlogater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLlogater }) |
            @Html.ActionLink("Detalls", "Details", new { id=item.IdLlogater }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdLlogater })
        </td>
    </tr>
}

</table>
